[package]
name = "clarbe"
standard = "c++23"
build_type = "exec"
version = "0.0.4"

[build]
build_dr = true
extra = "-pthread"

[build.local]
sources = ["src"]
includes = ["include"]
dlls_dir = ["commands"]

[build.global]
compiler = "D:/msys64/mingw64/bin/g++.exe"
libraries = ["zip", "spdlog", "fmt", "tomlplusplus", "boost_filesystem-mt"]

[profile.debug]
add = "-O0 -g3 -Wall -Wextra"

[profile.release]
add = "-Ofast -g0 -w -s -fexpensive-optimizations -fno-stack-protector -fno-stack-clash-protection -fdelete-null-pointer-checks -fno-profile-arcs -fno-test-coverage"
